
.main {
  text-align: center;
}

#variation {
  font-size: 180%;
  width: 80%;
  margin: 2em auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
}

button#again {
  margin: auto;
  padding: 1em;
  width: 50%;
  height: 3em;
  font-size: 100%;
}
